.cookies {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 2.083rem 0;
    background-color: $color-white;
    text-align: center;
    @include atMedium {
        text-align: left;
        top: auto;
        bottom: 0;
        padding: 1.5625rem 0;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
        @include atMedium {
            margin-top: 0;
            justify-content: flex-end;
        }

        &-item {
            & + & {
                margin-left: 2.25rem;
                @include atMedium {
                    margin-left: 1.6875rem;
                }
            }
        }
    }
}