.faq {
    padding: 5rem 0 5.833rem 0;
    @include atMedium {
        padding: 3.75rem 0 6.25rem 0;
    }

    &__main {
        margin-top: 1.667rem;
        margin-bottom: -3rem;
        @include atMedium {
            margin-top: 3.125rem;
            margin-bottom: -2.25rem;
        }
    }

    &__item {
        margin-bottom: 3rem;
        @include atMedium {
            position: relative;
            margin-bottom: 2.25rem;
            padding-left: 3.75rem;
        }

        &:before {
            content: "Q";
            font-family: $font-main;
            font-size: 3.583rem;
            font-weight: 600;
            line-height: 1;
            color: $color-primary;
            pointer-events: none;
            user-select: none;
            @include atMedium {
                font-size: 2.6875rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        h6 {
            margin: 1rem 0;
            @include atMedium {
                margin: 0 0 .75rem 0;
            }
        }
    }
}