.hero {
    padding: 9.583rem 0 3.5rem 0;
    position: relative;
    overflow: hidden;
    @include atMedium {
        padding: 14.125rem 0 10.375rem 0;
    }

    &__copy {
        text-align: center;
        position: relative;
        z-index: 2;
        @include atMedium {
            text-align: left;
        }
    }

    &__title-wrapper {
        @include atMedium {
            min-height: 7.25rem;
        }
    }

    &__shapes {
        display: none;
        position: relative;
        @include atMedium {
            display: block;
            position: absolute;
            bottom: -4.375rem;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/hero-shapes.svg");
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: auto 80%;
        }
    }

    &__video {
        &-content {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 95%;
            width: auto;

            .play-btn {
                position: absolute;
                top: 65%;
                left: 45%;
                transform: translate(-45%, -65%);
            }
        }

        &-paul {
            height: 100%;
            pointer-events: none;
            user-select: none;
        }
    }

    &__reviews {
        @include atMedium {
            padding-top: 7rem;
        }

        &-inner {
            width: 35%;
            margin: 0 0 0 auto;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                bottom: 2rem;
                right: -2rem;
                height: 80%;
                width: 100%;
                border-radius: .833rem;
                background-color: $color-white;
                box-shadow: 0 0 2.333rem rgba($color-black, .05);
                @include atMedium {
                    bottom: 1.5rem;
                    right: -1.5rem;
                    border-radius: .625rem;
                    box-shadow: 0 0 1.75rem rgba($color-black, .05);
                }
            }
        }

        .reviews__item {
            width: 100%;
            position: relative;
            z-index: 1;
        }
    }

    &__bg-video {
        display: none;
        @include atMedium {
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__play {
        padding: 1.667rem 1.667rem 1.667rem 6.667rem;
        background-color: rgba($color-white, .04);
        border-radius: .833rem;
        position: relative;
        max-width: 23.333rem;
        margin: 0 auto;
        cursor: pointer;
        display: block;
        @include atMedium {
            padding: 1.25rem 1.25rem 1.25rem 5rem;
            border-radius: .625rem;
            max-width: 17.5rem;
        }

        &-btn {
            position: absolute;
            top: 50%;
            left: -2.083rem;
            transform: translateY(-50%);
            background-color: $color-white;
            padding: 0;
            height: 7.083rem;
            width: 7.083rem;
            border-radius: 50%;
            border: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .25s;
            backface-visibility: hidden;
            @include atMedium {
                height: 5.3125rem;
                width: 5.3125rem;
                left: -1.5625rem;
            }

            img {
                height: 40%;
                transition: all .25s;
                backface-visibility: hidden;
                transform: translateX(.333rem);
                @include atMedium {
                    transform: translateX(.25rem);
                }
            }
        }

        &:hover {
            .hero__play-btn {
                background-color: $color-primary;

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &--bg-video {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include atMedium {
            padding: 13rem 0 7.1875rem 0;
            background-image: none;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color-gray-drk, .76);
        }

        .hero {
            &__copy {
                .btn {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    @include atMedium {
                        width: auto;
                        padding-left: 2.5rem;
                        padding-right: 2.5rem;
                    }
                }
            }

            &__title-wrapper {
                max-width: 32.8125rem;
                margin: 0 auto;
            }
        }
    }
}