.mobile-scroller {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: calc(100% - 40px);
    @include atMedium {
        display: none;
    }
    
    &:before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -20px;
        height: calc(100% + 20px);
        width: calc(100% + 40px);
         background-image: linear-gradient(to top, $color-white, rgba($color-white, 0));
        pointer-events: none;
        user-select: none;
    }
    
    &__btn {
        position: relative;
        z-index: 1;
        cursor: pointer;
        height: 3.4167rem;
        width: 3.4167rem;
        border-radius: 50%;
        transition: all .25s;
        backface-visibility: hidden;
        background-color: $color-white;
        box-shadow: 0 0 .9167rem rgba($color-black, .1);
        padding: 0;
        @include atMedium {
            height: 2.5625rem;
            width: 2.5625rem;
            box-shadow: 0 0 .6875rem rgba($color-black, .1);
        }

        img {
            transition: all .25s;
            backface-visibility: hidden;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -45%);
        }

        &:hover {
            background-color: $color-primary;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__cta {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        border-radius: .667rem;
        overflow: hidden;
        background-color: $color-primary;
        position: relative;
        z-index: 1;
        margin-top: .667rem;
        @include atMedium {
            margin-top: .5rem;
        }

        &-group {
            padding: .833rem 1rem;
            transition: all .25s;
            backface-visibility: hidden;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            @include atMedium {
                padding: .625rem .75rem;
            }

            i {
                margin-right: .4167rem;

                &.fa-phone {
                    transform: scaleX(-1);
                }
            }

            a {
                &:hover {
                    color: $color-white;
                    opacity: .75;
                }
            }

            &:last-child {
                background-color: rgba($color-black, .07);
            }
        }
    }
}