// Colors
$color-primary: #D90429;
$color-primary-drk: #A8001D;
$color-primary-drk-2: #CE0C2E;
$color-primary-alt: #F1002A;
$color-primary-lgt: #F0DDE0;
$color-primary-lgt-2: #FDE4E4;

$color-success: #60CC0B;
$color-gold: #FFC907;

$color-gray: #8D99AE;
$color-gray-drk: #2B2D42;
$color-gray-drk-2: #26283A;
$color-gray-drk-3: #36384F;
$color-gray-drk-4: #28293D;
$color-gray-drk-5: #353C41;
$color-gray-drk-6: #545C62;
$color-gray-lgt: #EDF2F4;
$color-gray-alt: #F6F8F9;
$color-gray-alt-2: #828EA4;
$color-gray-alt-3: #A7AEBA;
$color-gray-alt-4: #A3B0C8;
$color-gray-alt-5: #6C7981;
$color-gray-alt-6: #626476;
$color-gray-alt-7: #DDE1E8;

$color-white: #ffffff;
$color-black: #000000;


// Typography
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

$font-main: "Poppins", "Helvetica", "Arial", sans-serif;